<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.autoai.android.demos">

    <!-- PermissionManageActivity used -->
    <!-- <uses-permission android:name="android.permission.READ_CONTACTS" /> -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".thread_service_cycle.ThreadServiceCycleActivity" />

        <service
            android:name=".thread_service_cycle.ThreadService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".android_system_info.AndroidSystemInfoActivity" />
        <activity android:name=".disk_lru_cache.DiskLruCacheActivity" />
        <activity android:name=".net_state_modify.NetStateModifyActivity" />
        <activity android:name=".permission_manage.PermissionManageActivity" />
        <activity android:name=".load_dex_jar.LoadDexJarActivity"></activity>
    </application>

</manifest>